<div nz-row
     nzType="flex" [nzJustify]="'space-around'">
  <div nz-col [nzXs]="'24'" [nzMd]="'8'">
    <div style="background-color: #ffffff;">
      <h1>HOLA</h1>
    </div>
  </div>
  <div nz-col [nzXs]="'24'"  [nzMd]="'1'"></div>
  <div nz-col [nzXs]="'24'" [nzMd]="'15'">
    <nz-page-header style="background-color: #ffffff;"
                    *ngFor="let panel of panels; let ind = index"
                    [nzBackIcon]="icon"
                    [hidden]="!panel.active"
                    (nzBack)="onBack( ind )"
                    [nzTitle]="panel.title"
                    [ngClass]="panel.backIcon ? 'item-done' : ''"
                    [nzSubtitle]="panel.subtitle">
      <ng-template #icon>
        <i nz-icon *ngIf="panel.backIcon"
           nzType="arrow-left" nzTheme="outline"></i>
      </ng-template>
      <nz-page-header-extra>
        <i nz-icon nzType="setting"
           (click)="abrirFormulario( indice )"
           *ngIf="panel.detail"></i>
      </nz-page-header-extra>
      <nz-page-header-content *ngIf="panel.content">
        <div *ngIf="indice === 0">
          <form >
            <div nz-row class="margin-bottom-medium">
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Empresa"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Nombres"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Correo"
                       nz-input>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzMd]="7">
                <nz-select [(ngModel)]="selectedPerfil"
                           name="perfil"
                           nzAllowClear nzPlaceHolder="Choose">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  &lt;!&ndash;<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>&ndash;&gt;
                </nz-select>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <nz-select [(ngModel)]="selectedEstado"
                           name="estado"
                           nzAllowClear nzPlaceHolder="Choose">
                  <nz-option [nzValue]="true" nzLabel="Activo"></nz-option>
                  <nz-option [nzValue]="false" nzLabel="Inactivo"></nz-option>
                </nz-select>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <div nz-row>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Filtrar</button>
                  </div>
                  <div nz-col [nzMd]="2"></div>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Limpiar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="indice === 1">
          <form >
            <div nz-row class="margin-bottom-medium">
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Empresa"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Nombres"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Correo"
                       nz-input>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzMd]="7">
                <nz-select [(ngModel)]="selectedPerfil"
                           name="perfil"
                           nzAllowClear nzPlaceHolder="Choose">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                  &lt;!&ndash;<nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>&ndash;&gt;
                </nz-select>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <nz-select [(ngModel)]="selectedEstado"
                           name="estado"
                           nzAllowClear nzPlaceHolder="Choose">
                  <nz-option [nzValue]="true" nzLabel="Activo"></nz-option>
                  <nz-option [nzValue]="false" nzLabel="Inactivo"></nz-option>
                </nz-select>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <div nz-row>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Filtrar</button>
                  </div>
                  <div nz-col [nzMd]="2"></div>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Limpiar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="indice === 2">
          <form >
            <div nz-row class="margin-bottom-medium">
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Empresa"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Nombres"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Correo"
                       nz-input>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzMd]="7"></div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7"></div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <div nz-row>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Filtrar</button>
                  </div>
                  <div nz-col [nzMd]="2"></div>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Limpiar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="indice === 3">
          <form >
            <div nz-row class="margin-bottom-medium">
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Empresa"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Nombres"
                       nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text"
                       placeholder="Correo"
                       nz-input>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzMd]="7">
                <nz-date-picker
                  style="width: 100% !important;"
                  [nzFormat]="dateFormat"></nz-date-picker>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <input type="text" nz-input>
              </div>
              <div nz-col [nzMd]="1"></div>
              <div nz-col [nzMd]="7">
                <div nz-row>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Filtrar</button>
                  </div>
                  <div nz-col [nzMd]="2"></div>
                  <div nz-col [nzMd]="11">
                    <button nz-button
                            nzBlock
                            type="button">Limpiar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </nz-page-header-content>
    </nz-page-header>

    <!-- TABLE-->
    <div nz-row class="table__lab">
      <div nz-col [nzMd]="22">
        <nz-table
          #dynamicTable
          [nzScroll]="fixHeader ? { y: '240px' } : null"
          [nzData]="listOfData"
          [nzSimple]="simple"
          [nzLoading]="loading"
          [nzPaginationPosition]="position"
          [nzShowSizeChanger]="sizeChanger"
          [nzFrontPagination]="pagination"
          [nzShowPagination]="pagination"
          [nzSize]="size"
          (nzCurrentPageDataChange)="currentPageDataChange($event)"
        >
          <thead>
          <tr *ngIf="indice === 0"><!-- *ngIf="header" -->
            <th >Nombre</th>
            <th >Empresa</th>
            <th nzShowExpand *ngIf="expandable"></th>
          </tr>
          <tr *ngIf="indice === 1"><!-- *ngIf="header" -->
            <th >Código</th>
            <th >N° Interno</th>
            <th >Marca</th>
            <th >Modelo</th>
            <th >Serie</th>
            <th nzShowExpand *ngIf="expandable"></th>
          </tr>
          <tr *ngIf="indice === 2"><!-- *ngIf="header" -->
            <th >Descripción</th>
            <th >Marca</th>
            <th >Lubricante</th>
            <th nzShowExpand *ngIf="expandable"></th>
          </tr>
          <tr *ngIf="indice === 3"><!-- *ngIf="header" -->
            <th >Muestra</th>
            <th >Fec. Muestreo</th>
            <th >Estado</th>
            <th nzShowExpand *ngIf="expandable"></th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-data [ngForOf]="dynamicTable.data">
            <tr *ngIf="indice === 0">
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            </tr>
            <tr *ngIf="indice === 0" [nzExpand]="data.expand && expandable">
              <td [attr.colspan]="3">
                <div nz-row>
                  <div nz-col [nzMd]="24">
                    <p>Correo</p>
                    <p>Otro</p>
                  </div>
                </div>
                <div nz-row nzType="flex" nzJustify="end">
                  <button nz-button nzType="default">Eliminar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default">Editar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default" (click)="siguiente( indice )">Máquinas<i nz-icon type="search"></i></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="indice === 1">
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.address }}</td>
              <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            </tr>
            <tr *ngIf="indice === 1" [nzExpand]="data.expand && expandable">
              <td [attr.colspan]="6">
                <div nz-row>
                  <div nz-col [nzMd]="24">
                    <p>Correo</p>
                    <p>Otro</p>
                  </div>
                </div>
                <div nz-row nzType="flex" nzJustify="end">
                  <button nz-button nzType="default">Eliminar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default">Editar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default" (click)="siguiente( indice )">Componentes<i nz-icon type="search"></i></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="indice === 2">
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.address }}</td>
              <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            </tr>
            <tr *ngIf="indice === 2" [nzExpand]="data.expand && expandable">
              <td [attr.colspan]="4">
                <div nz-row>
                  <div nz-col [nzMd]="24">
                    <p>Correo</p>
                    <p>Otro</p>
                  </div>
                </div>
                <div nz-row nzType="flex" nzJustify="end">
                  <button nz-button nzType="default">Eliminar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default">Editar<i nz-icon type="search"></i></button>
                  <button nz-button nzType="default" (click)="siguiente( indice )">Muestras<i nz-icon type="search"></i></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="indice === 3">
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.address }}</td>
              <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            </tr>
            <tr *ngIf="indice === 3" [nzExpand]="data.expand && expandable">
              <td [attr.colspan]="4">
                <div nz-row>
                  <div nz-col [nzMd]="24">
                    <p>Aqui va el ultimo</p>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- FIN TABLE-->
  </div>
</div>
